{{ define "main" }}
{{ partial "mathjax.html"}}
<article class="pv2 mw7-l nested-copy-line-height nested-img center">
{{ if .Params.nav }}
  {{ partial "nav-bar.html" .Params.nav }}
{{ end }}
  {{ with .Content }}
    <section class="center f4 lh-copy ">
      {{- . -}}
    </section>
  {{ end }}
  <section class="flex-ns flex-wrap justify-around mv0">
    {{ $list := where .Site.Pages "Section" .Section }}
    {{ $list := symdiff $list (slice .) }}

    {{ $Paginator := .Paginate $list }}
    {{- template "_internal/pagination.html" -}}
    {{ range $Paginator.Pages }}
      <div class="relative w-100 mv2" style="background-color:rgb(252,251,248)">
        {{- partial "summary-with-image.html" . -}}
      </div>
    {{ end }}
  </section>
  {{- template "_internal/pagination.html" . -}}
</article>
{{ end }}
