{{ define "main" }}
<article class="mh4 mt2 mw7-l nested-copy-line-height nested-img center">
{{ if .Params.nav }}
  {{ partial "nav-bar.html" .Params.nav }}
{{ end }}
  {{ with .Content }}
    <section class="cf measure-wide-l left pa4 f4 lh-copy ">
      {{- . -}}
    </section>
  {{ end }}
  <section class="flex-ns flex-wrap justify-around mt1 mt4-l">
    {{ $list := where .Site.Pages "Section" .Section }}
    {{ $list := symdiff $list (slice .) }}

    {{ $Paginator := .Paginate $list }}
    {{- template "_internal/pagination.html" -}}
    {{ range $Paginator.Pages }}
      <div class="relative w-100 mv2-l mv1 bg-white">
        {{- partial "summary-with-image.html" . -}}
      </div>
    {{ end }}
  </section>
  {{- template "_internal/pagination.html" . -}}
</article>
{{ end }}
