{{ define "main" }}
  <article class="pa6 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
      {{ $peoplePages := where .Site.Pages "Section" "people" }}
      {{ $peoplePages := symdiff $peoplePages (slice .) }}

      {{ $positions := slice "PI" "adminAssistant" "postDoc" "grad" "COOP" }}
      {{ $titleCards := slice "Principle Investigator" "Administrative Assistant" "Postdoctoral Fellows" "Graduate Students" "Undergraduate Research Associates" "Alumni" }}
      {{ range (seq 0 (sub (len $positions) 1) ) }}

        <h1>{{ index $titleCards . }}</h1>
        <section class="flex-ns flex-wrap mt1 ph2-l">
          {{ $list := where $peoplePages ".Params.tags" "intersect" (slice (index $positions .))  }}
          {{ $alumn := where $peoplePages ".Params.tags" "intersect" (slice "alumn")  }}
          {{ $diff := intersect $list $alumn }}
          {{ $list := symdiff $list $diff }}

          {{ with $list }}
          {{ range . }}
            <div class="relative w-100 w-30-l ma2 mid-gray">
              <div class="bg-white">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
          {{ end }}
        {{ end }}
        </section>
      {{ end }}

        <h1> Alumni </h1>
        <section class="flex-ns flex-wrap mt1 ph2-l">
          {{ range .Site.Taxonomies.tags.alumn }}
            <div class="relative w-100 w-30-l ma2 mid-gray">
              <div class="bg-white">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
          {{ end }}
        </section>

  </article>
{{ end }}
