{{/* authorList.html
     - Default usage (backward compatible): {{ partial "authorList.html" . }}
     - Highlight usage (member page): {{ partial "authorList.html" (dict "pub" . "highlightTags" $authorTag) }}
*/}}

{{ $ctx := . }}
{{ $pub := . }}
{{ $highlightTags := slice }}

{{ if (reflect.IsMap $ctx) }}
  {{ with $ctx.pub }}{{ $pub = . }}{{ end }}
  {{ with $ctx.highlightTags }}{{ $highlightTags = . }}{{ end }}
{{ end }}

{{ $members := where $pub.Site.Pages "Section" "members" }}
{{ $pun_count := 0 }}

{{ if $pub.Params.authors }}
  {{ $pun_count = len $pub.Params.authors }}

  {{ range $index, $author := $pub.Params.authors }}
    {{ $separator := "," }}
    {{ if eq $index (sub $pun_count 1) }}{{ $separator = "" }}{{ end }}
    {{ if eq $pun_count 1 }}{{ $separator = "." }}{{ end }}

    {{ if (ge (len $author) 2) }}
      {{ $found := false }}
      {{ $tag := index $author 1 }}
      {{ $name := index $author 0 }}
      {{ $isHighlight := in $highlightTags $tag }}

      {{ range $members }}
        {{ if in .Params.tags $tag }}
          {{ $found = true }}
          <a href="{{ .Permalink }}"
             class="qiti-author-link link dim{{ if $isHighlight }} qiti-author-highlight{{ end }}">
            {{ $name }}
          </a>{{ $separator }}
        {{ end }}
      {{ end }}

      {{ if not $found }}
        {{ if $isHighlight }}
          <span class="qiti-author-highlight">{{ $name }}</span>{{ $separator }}
        {{ else }}
          {{ printf "%s%s" $name $separator }}
        {{ end }}
      {{ end }}

    {{ else }}
      {{ $name := index $author 0 }}
      {{ printf "%s%s" $name $separator }}
    {{ end }}
  {{ end }}
{{ end }}
