{{ $members := where .Site.Pages "Section" "members" }}
{{ $pun_count := 0 }}

{{ if .Params.authors }}
  {{ $pun_count = len .Params.authors }}
  
  {{ range $index, $author := .Params.authors }}
    {{ if (eq (len $author) 2) }}
      {{ $found := false }}
      {{ $separator := "," }}
      {{ if eq $index (sub $pun_count 1) }}{{ $separator = "" }}{{ end }}
      {{ if eq $pun_count 1 }}{{ $separator = "." }}{{ end }}
      {{ range $members }}
        {{ if in .Params.tags (index $author 1) }}
          {{ $found = true }}
          <a href="{{ .Permalink }}" class="link black bg-animate dim b">
            {{ printf "%s%s" (index $author 0) $separator }}
          </a>
        {{ end }}
      {{ end }}
      {{ if not $found }}
        {{ printf "%s%s" (index $author 0) $separator }}
      {{ end }}
    {{ else }}
      {{ $separator := "," }}
      {{ if eq $index (sub $pun_count 1) }}{{ $separator = "" }}{{ end }}
      {{ if eq $pun_count 1 }}{{ $separator = "." }}{{ end }}
      {{ printf "%s%s" (index $author 0) $separator }}
    {{ end }}
  {{ end }}
{{ end }}
