{{ $members := where .Site.Pages "Section" "members"}}
{{ $pun_count := 0 }}
{{ with .Params.authors }}
  {{ $pun_count = len . }}
{{ end }}

{{ if eq $pun_count 2 }}

  {{ range .Params.authors }}
    {{ if (eq (len .) 2) }}
      {{ $author := . }} 
      {{ range $members }}
        {{ if in .Params.tags (index $author 1)}}
          {{ if eq $pun_count 1 }}
            
            <a href="{{ .Permalink }}" class="link black bg-animate dim b">
              {{ printf "%s" (index $author 0)}} 
            </a>
          {{ else }}
            <a href="{{ .Permalink }}" class="link black bg-animate dim b">
              {{ printf "%s" (index $author 0)}} 
            </a>
          {{ end }}
        {{ end }} 
      {{ end }}
    {{ else }}
      {{ if eq $pun_count 1 }}
        {{ printf "%s." (index . 0) }}
      {{ else }}
        {{ printf "%sl" (index . 0) }}
      {{ end }}
    {{ end }}
    {{ $pun_count = sub $pun_count 1 }}
  {{ end }}

{{ else if eq $pun_count 1 }}

  {{ range .Params.authors }}
    {{ if (eq (len .) 2) }}
      {{ $author := . }} 
      {{ range $members }}
        {{ if in .Params.tags (index $author 1)}}
            <a href="{{ .Permalink }}" class="link black bg-animate dim b">
              {{ printf "%s" (index $author 0)}} 
            </a>
        {{ end }} 
      {{ end }}
    {{ else }}
      {{ printf "%s." (index . 0) }}
    {{ end }}
    {{ $pun_count = sub $pun_count 1 }}
  {{ end }}

{{ else }}

  {{ range .Params.authors }}
    {{ if (eq (len .) 2) }}
      {{ $author := . }} 
      {{ range $members }}
        {{ if in .Params.tags (index $author 1)}}
          {{ if eq $pun_count 1 }}
            <a href="{{ .Permalink }}" class="link black bg-animate dim b">
              {{ printf "%s." (index $author 0)}} 
            </a>
          {{ else }}
            <a href="{{ .Permalink }}" class="link black bg-animate dim b">
              {{ printf "%s," (index $author 0)}} 
            </a>
          {{ end }}
        {{ end }} 
      {{ end }}
    {{ else }}
      {{ if eq $pun_count 1 }}
        {{ printf "%s." (index . 0) }}
      {{ else }}
        {{ printf "%s," (index . 0) }}
      {{ end }}
    {{ end }}
    {{ $pun_count = sub $pun_count 1 }}
  {{ end }}
{{ end }}
