{{ $section := . }}
{{ $section_count := len $section }}
{{ $section_name := "Publications" }}
  <div class="relative w-100 mb4">
    <section class="w-100 mw8">
      {{ range $section }}
        <div class="bb b--black-10 relative w-100 ma1 nested-copy-line-height">
          <div class="pa1 gray overflow-hidden">
            <h1 class="f4 near-black mb0">
              <a href="{{ .Permalink }}" class="link black dim">
                {{ .Title }}
              </a>
            </h1>
            <div class="mb0 f5">
              {{ partial "authorList.html" . }}
	      <br>
	      {{ partial "journal-link-bar.html" . }}
            </div>
            <div class='near-black'>
              <a href="{{.Permalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt1 ph2 pv1">Read More</a>
            </div>
          </div>
        </div>
      {{ end }}
    </section>
  </div>
