{{ partial "site-navigation.html" .}}
{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
 <header style="background: url('{{ $featured_image }}') no-repeat center; background-attachment: body; background-size:cover;">
 	<div class="{{ .Site.Params.cover_dimming_class | default "bg-black-30" }}">
       <div class="tl pv3 pv5-l ph3 ph4-ns">
{{/* change pv number above to change vertical padding, m for medium screen size, l for large e.g. pv3-m */}}
        <h1 class="f2 white-90 f-subheadline-2 fw4 mb0 1h-title">
          {{ .Title | default .Site.Title }}</h1>

      </div>
    </div>
  </header>
{{ else }}
  <header>
<hr style="height:1px;border-width:0;margin-top: 0;margin-bottom:0;background-color:rgb(70,64,78)">

    <div style="background-color: rgb(74,70,80)">
        <div class="tl pv2 ph3">
        <h2 class="f4 ph0 ph3-ns f3-m f2-l white-80 f-subheadline-2 fw2 mv0 lh-title">
          {{ .Title | default .Site.Title }}
        </h2>
        </div>
    </div>
  </header>
{{ end }}
