<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>
       
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
            <ul class="pl0 mr3">
	
	{{ $currentPage := . }}
	        {{ range .Site.Menus.mainmenu }}
	            {{ if .HasChildren }}
         	 <li>
                	 <a class="hover-white no-underline white-70" href="{{ .URL }}" title="{{ .Name }} page">
              			{{ .Name }}
            		</a>
          	</li>

  		   <ul class="sub-menu">
                    {{ range .Children }}
                	        <li>
                	            <a class="hover-white no-underline white-90" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                
		   {{ else }}
                  <li>
                    <a class="hover-white no-underline white-90" href="{{ .URL }}">
                      {{ .Name }}
                    </a>
                </li>
                        
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
