<nav class="pt3 pb1 ph3 ph4-ns" style="background-color: rgb(58,54,63)" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="pv0 fw4 hover-white no-underline white dib" style="color: rgb(243,241,234); font-size:45px">
      {{ .Site.Title }}
    </a>
       
    <div class="flex-l items-start">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.mainmenu }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.mainmenu }}
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline" style="color:rgb(239,236,226)" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
<p class ="f5" style ="color: rgb(212,210,206)">Principal Investigator - Prof. Rajibul Islam, IQC, University of Waterloo</p>
  </nav>
