<footer class="w-100" style="background:#111111; border-top:1px solid rgba(255,255,255,0.12);" role="contentinfo">
  <div class="mw8 center ph3 ph4-ns pv4">
    <div class="flex flex-column flex-row-ns items-start items-center-ns justify-between">

      <div class="f6" style="color: rgba(255,255,255,0.82); line-height:1.55;">
        <div>
          &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006" }} {{ end }}
        </div>
        <div class="mt1" style="color: rgba(255,255,255,0.70);">
          Institute for Quantum Computing, University of Waterloo
        </div>
      </div>

    <!-- Footer logo -->
<div class="mt3 mt0-ns">
  <a href="https://uwaterloo.ca/institute-for-quantum-computing/" class="dib dim" target="_blank" rel="noopener">
    <img
      src="/images/logos/uw_logo_colorReversed.png"
      alt="University of Waterloo and Institute for Quantum Computing"
      style="height:90px; width:auto; display:block;"
    >
  </a>
</div>


<!-- 

      <div class="mt3 mt0-ns">
        {{ partialCached "social-follow.html" . }}
      </div> -->

    </div>
  </div>
</footer>
