{{ $base := "" }}
{{ with .Params.image }}
  {{ $base = substr . 0 -4 }}
{{ end }}
{{ $featured_image := printf "%s%s" $base "-bubble.png" }}
<article class="bb b--black-10">
  <div class="db pv2 ph0-l black">
    <div class="flex flex-row">
    {{ if $featured_image }}
      {{ if not ( fileExists (printf "static/%s" $featured_image ) )}}
      	{{ $featured_image = "images/default-bubble.png"}}
      {{ end }}
        {{ $featured_image := $featured_image | absURL }}
        <div class="pa1 pl3-ns pr3-ns pv2 mb4 mb0-ns w-20 w-50-l">
          <a href="{{.Permalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="w-100" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100 pa1 pl2">
        <h1 class="f4 fw1 athelas ma0 pa0 lh-title">
          <a href="{{.Permalink}}" class="color-inherit dim link">
            {{ .Title }} <br>
            </a>
	   <a class="gray f6">
            {{ .Params.tenure }} <br>
            </a>

        </h1>
          <a href="{{.Permalink}}" class="ba b--moon-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1" style="background-color:#e1dce1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
      </div>
    </div>
  </div>
</article>
