{{ $featured_image := .Params.image | absURL }}
{{ $isImg := false }}
{{ if .Params.image }}
  {{ if ( fileExists (printf "%s%s" "static/" .Params.image) ) }}
    {{ $isImg = true }}
  {{ end }}
{{ end }}
<article class="bb b--black-10">
  <div class="db pv2 mh3 mv3-l mh4-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
	  {{ if $isImg }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.Permalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if $isImg }} w-60-ns pl3-ns{{ end }}">
          <h1 class="f3 near-black mb0 mt0">
            <a href="{{.Permalink}}" class="color-inherit dim link">
              {{ .Title }}
            </a>
		
          </h1>
            <div class="mb3 f5 near-black">
              <div class="mv2"> {{ partial "authorList.html" . }} </div>
	      <!-- <div class="mv2"> {{ dateFormat "01/2006" .Params.date }} </div> *}} -->
              <div class="mv2"> {{ partial "journal-link-bar.html" . }} </div>
            </div>
            {{ if eq .Section "publications" }}
              <div class="f5 f5-l lh-title nested-copy-line-height nested-links">
                {{- .Summary -}}
              </div>
            {{ else }}
        <div class="f5 f5-l lh-title nested-links">
          {{- .Content -}}
        </div>
          {{ end }}
          <a href="{{.Permalink}}" class="ba b--moon-gray bg-white-30 br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
      </div>
    </div>
  </div>
</article>
