{{ define "main" }}
  <article class="pv1 ph2 pl5-l nested-copy-line-height nested-img mw8-l center">
    {{ if .Content }}
      <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l measure-wide lh-copy mid-gray">
        {{- .Content -}}
      </section>
    {{ end }}
      {{ $membersPages := where .Site.Pages "Section" "members" }}
      {{ $membersPages := symdiff $membersPages (slice .) }}

      {{ $positions := slice "PI" "adminAssistant" "postDoc" "researchAssoc" "grad" "RA" "COOP" }}
      {{ $titleCards := slice "Principal Investigator" "Administrative Assistant" "Postdoctoral Fellows" "Research Associates" "Graduate Students" "Research Assistants" "Undergraduate Researchers" "Alumni" }}
      {{ range (seq 0 (sub (len $positions) 1) ) }}
	  {{ $list := where $membersPages ".Params.tags" "intersect" (slice (index $positions .))  }}
	  {{ $alumn := where $membersPages ".Params.tags" "intersect" (slice "alumn")  }}
	  {{ $grad := where $membersPages ".Params.tags" "intersect" (slice "grad")  }}
      {{ $diff := intersect $list $alumn }}
      {{ $list := symdiff $list $diff }}
	  {{/* comment - diff removes intersection of position and alumn, so when a postdoc becomes an alumnus, they are removed from postdoc list */}}
	  	   {{ $gradalumn := intersect $grad $alumn }}

      {{ if ge (len $list) 1 }}
	    {{/* comments - the line above is checking whether the list has at least one member. If the list is empty then it will not displat the category */}}
		<a id="{{ index $positions . }}"></a>
		<h1>{{ index $titleCards . }}</h1>
		<section class="flex flex-wrap mt1 ph2-l">
	            
          {{ with $list }}
          {{ range .Reverse }}
            <div class="relative w-100 w-40-l ma2 mid-gray">
              <div style="background-color: rgb(252,251,248)">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
          {{ end }}
        {{ end }}
        </section>
		{{end}}
      {{ end }}	
<hr>
<h1> Group photo </h1>
<figure>
  <img src="\images\group\qsim-team-2023-Feb.jpg" alt="IQC-QITI" class="left" style="display:block;max-width:90%">
  <figcaption>(2023 winter) Part of the QITI group at IQC</figcaption>
</figure>


<hr>
{{/* ALUMNI SECTION */}}
    
      {{ $alumn := where $membersPages ".Params.tags" "intersect" (slice "alumn")  }}
	  {{ $grad := where $membersPages ".Params.tags" "intersect" (slice "grad")  }}
	  {{ $PDFs := where $membersPages ".Params.tags" "intersect" (slice "postDoc")  }}

      {{ $gradalumn := intersect $grad $alumn }}
      {{ $pdfalumn := intersect $alumn $PDFs }}
	  {{ $gradpdfalumn := union $gradalumn $pdfalumn }}
	  {{ $restalumn := symdiff $alumn $gradpdfalumn }}

      <h1>Ex-members</h1>
	  <h2> Graduate student and postdoc alumni</h2> 
		<section class="flex flex-wrap mt1 ph2-l">
	           
          {{ range $gradpdfalumn }}
              <div class="relative w-100 w-40-l ma2 mid-gray">
              <div style="background-color: rgb(233,230,233)">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
          {{ end }}
        </section>
		
		<h2>Other alumni</h2>
		<section class="flex flex-wrap mt1 ph2-l">
	           
          {{ range $restalumn }}
              <div class="relative w-100 w-40-l ma2 mid-gray">
              <div style="background-color: rgb(233,230,233)">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
			{{ end}}
          </section>
		
	         
      
  </article>
{{ end}}