{{ define "main" }}
  <article class="pv1 ph2 pl5-l nested-copy-line-height nested-img mw8-l center">
    {{ if .Content }}
      <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l measure-wide lh-copy mid-gray">
        {{- .Content -}}
      </section>
    {{ end }}
      {{ $membersPages := where .Site.Pages "Section" "members" }}
      {{ $membersPages := symdiff $membersPages (slice .) }}

      {{ $positions := slice "PI" "adminAssistant" "postDoc" "grad" "COOP" }}
      {{ $titleCards := slice "Principal Investigator" "Administrative Assistant" "Postdoctoral Fellows" "Graduate Students" "Undergraduate Research Associates" "Alumni" }}
      {{ range (seq 0 (sub (len $positions) 1) ) }}
        <a id="{{ index $positions . }}"></a>
        <h1>{{ index $titleCards . }}</h1>
        <section class="flex flex-wrap mt1 ph2-l">
          {{ $list := where $membersPages ".Params.tags" "intersect" (slice (index $positions .))  }}
          {{ $alumn := where $membersPages ".Params.tags" "intersect" (slice "alumn")  }}
          {{ $diff := intersect $list $alumn }}
          {{ $list := symdiff $list $diff }}

          {{ with $list }}
          {{ range .Reverse }}
            <div class="relative w-100 w-40-l ma2 mid-gray">
              <div style="background-color: rgb(252,251,248)">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
          {{ end }}
        {{ end }}
        </section>
      {{ end }}

<h1> Group photo </h1>
<figure>
  <img src="\images\group\qsim-team-2023-Feb.jpg" alt="IQC-QITI" class="left" style="display:block;max-width:90%">
  <figcaption>(2023 winter) Part of the QITI group at IQC</figcaption>
</figure>

        <h1> Alumni </h1>
        <section class="flex-ns flex-wrap mt1 ph2-l">
          {{ range .Site.Taxonomies.tags.alumn }}
            <div class="relative w-100 w-40-l ma2 mid-gray">
              <div style=" background-color: rgb(233,230,233)">
                {{- partial "summary-with-bubble-image.html" . -}}
              </div>
            </div>
          {{ end }}
        </section>

  </article>
{{ end }}
