{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{ partial "mathjax.html" }}
    <article class="center cf mt0 pb6 ph3 ph4-ns mw8">
      <header>
        <p class="f6 b helvetica tracked">
          <a href="{{.Section | absURL }}" class="color-inherit dim link">{{ humanize .Section | upper  }} </a>
        <h3 class="mb0">
          {{ partial "position.html" . }}
        </h3>
        </p>
        <h1 class="f1 mt0">
          {{ .Title }}
          {{ if .Params.orcid }}
            <a itemprop="sameAs" content="https://orcid.org/{{.Params.orcid}}" href="https://orcid.org/{{.Params.orcid}}" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;">
            <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon">
            </a>
          {{ end }}
       </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links dark-gray">
        <div class="dtc v-top">
          {{ $img := .Params.image | absURL }}
		  {{ if not ( fileExists (printf "%s%s" "static/" .Params.image) ) }}
			{{ $img = "images/default.png" | absURL }}
		  {{ end }}
          <img src="{{ $img }}" class="mw5 db" alt="image from {{.Title}}" width="150px"/>
        </div>
        <div class="dtc v-top pl3">
          <p class="lh-copy mv0">
	  {{ if .Params.tenure }}
            <b>Position:</b> {{ .Params.tenure }}<br/>
          {{ end }}
          {{ if .Params.email }}
            <b>Email:</b> {{ .Params.email }}<br/>
          {{ end }}
          {{ if .Params.extention }}
            <b>Extention:</b> {{ .Params.extention }}<br/>
          {{ end }}
          {{ if .Params.office }}
            <b>office:</b> {{ .Params.office }}<br/>
          {{ end }}
          {{ if .Params.curentInstitution }}
            <b>Current Institution:</b> {{ .Params.curentInstitution }}<br/>
          {{ else if .Params.previousInstitution }}
            <b>Previous Institution:</b> {{ .Params.previousInstitution }}<br/>
          {{ end }}
          {{ if .Params.googleScholar }}
          <b>Publication History: </b><a href="{{ .Params.googleScholar }}" target="_blank" class="color-inherit dim link">Google Scholar</a><br/>
          {{ end }}
          </p>
        </div>
      </div>
            {{ .Content }}

            {{ $authorTag := .Params.tags }}
            {{$section :=  where .Site.Pages "Section" "publications"}}
            {{$tmp_sec := $section }}
            
            {{ range $section }}
              {{ $tmp := . }}
              {{ range .Params.authors }}
                {{ if and ( ge (len .) 2 ) (in $authorTag (index . 1) ) }}
                  {{ $tmp_sec = symdiff $tmp_sec (slice $tmp) }}
                {{ end }}
              {{end}}
            {{ end }}

            {{ $section := symdiff $section $tmp_sec }}

            {{ if ge (len $section) 1 }}
              <h1>Publications</h1>
              {{ partial "pub-list-2.html" $section}}
            {{ end }}


    </article>
{{ end }}
