{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{ partial "mathjax.html" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf tj pv5 ph3 ph4-ns mw7">
      <header>
        <p class="f6 b helvetica tracked">
        <a href="{{.Section | absURL }}" class="color-inherit dim link">{{ humanize .Section | upper  }} </a>
        </p>          
        <p class="f5 b gray mv1 pv1">
   {{ substr .Date 0 4 }}          
        </p>
        <p class="f3 b mv1 pv1 tl">
{{ .Title }}
        </p>
        <p class="f4 dark-gray mv1 pv1 tl">
          {{ partial "authorList.html" . }}
        </p>
        <p class="f4 mid-gray mv1 pv1 tl">
          {{ partial "journal-link-bar.html" . }}
        </p>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links mid-gray tl">
          <div class="dtc v-top">
            {{ if .Params.image }}
			  {{ $img := .Params.image | absURL }}
			  {{ if ( fileExists (printf "%s%s" "static/" .Params.image) ) }}
              <img src="{{ $img }}" class="fl-l ft db ma4-l w-100-l mw5-l" alt="image from {{.Title}}" />
		    {{ end }}
            {{ end }}
            <p class="lh-copy mv0">
              {{ .Content }}
            </p>
          </div>
      </div>
    </article>
  </div>
{{ end }}
